* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}
.container  {
    width: 95%;
    height: 95vh;
    background-color: aqua;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.left{
    background-color: brown;
    box-sizing: border-box;
    padding: 5px 20px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
h1 {
    font-size: 30px;
    display: block;
}
p {
    margin-top: 5px;
    font-size: 25px;
}
